.App {
  text-align: center;
}

.App-logo {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 2.5rem;
}

.App-header {
  /* Seaspan background-color  */
  background-color: #F9FAFC;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* Seaspan Main text color */
  color: #354052;
}


/* Form */
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  min-width: 25vw;
  max-width: 90vw;
  padding: 1rem;
  background-color: #E2343B;
  border: 1px solid #E2343B;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}
.login-form > .login-title {
  margin: 0 0 2rem 0;
  color: #FFF;
  font-weight: 300;
}
.login-form > .login-input {
  margin-bottom: 1rem;
  font-weight: 300;
  color: #FFF;
  text-align: left;
  font-size: 1.25rem;
}
.login-form > .login-input > input {
  width: 100%;
  padding: .875rem 1.25rem;
  margin: 1rem 0;
  border: 1px solid #DCDFEE;
  border-radius: 2px;
  box-sizing: border-box;
}
.login-form > .forgot-password {
  font-size: 14px;
  margin-top: 2rem;
  color: #FFF;
}

/* Button */
.primary-btn {
  padding: 0.5rem;
  font-size: 14px;
  width: 7rem;
  background-color: #FFF;
  color: #354052;
  border: 1px solid #DCDFEE;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  cursor: pointer;
}
